In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv("employee data.csv")

In [5]:
df.head()

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,1,IT,Male,55,Specialist,03:05.6,2,High School,5,6750,33,32,22,2,0,14,66,0,2.63,False
1,2,Finance,Male,29,Developer,03:05.6,0,High School,5,7500,34,34,13,14,100,12,61,2,1.72,False
2,3,Finance,Male,55,Specialist,03:05.6,8,High School,3,5850,37,27,6,3,50,10,1,0,3.17,False
3,4,Customer Support,Female,48,Analyst,03:05.6,7,Bachelor,2,4800,52,10,28,12,100,10,0,1,1.86,False
4,5,Engineering,Female,36,Analyst,03:05.6,3,Bachelor,2,4800,38,11,29,13,100,15,9,1,1.25,False

In [6]:
df.drop(columns=['Employee_ID','Hire_Date','Years_At_Company','Team_Size','Resigned','Training_Hours'],inplace=True)

In [7]:
df.head()

,Department,Gender,Age,Job_Title,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Promotions,Employee_Satisfaction_Score
0,IT,Male,55,Specialist,High School,5,6750,33,32,22,2,0,0,2.63
1,Finance,Male,29,Developer,High School,5,7500,34,34,13,14,100,2,1.72
2,Finance,Male,55,Specialist,High School,3,5850,37,27,6,3,50,0,3.17
3,Customer Support,Female,48,Analyst,Bachelor,2,4800,52,10,28,12,100,1,1.86
4,Engineering,Female,36,Analyst,Bachelor,2,4800,38,11,29,13,100,1,1.25

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Department                   100000 non-null  object
 1   Gender                       100000 non-null  object
 2   Age                          100000 non-null  int64
 3   Job_Title                    100000 non-null  object
 4   Education_Level              100000 non-null  object
 5   Performance_Score            100000 non-null  int64
 6   Monthly_Salary               100000 non-null  int64
 7   Work_Hours_Per_Week          100000 non-null  int64
 8   Projects_Handled             100000 non-null  int64
 9   Overtime_Hours               100000 non-null  int64
 10  Sick_Days                    100000 non-null  int64
 11  Remote_Work_Frequency        100000 non-null  int64
 12  Promotions                   100000 non-null  int64
 13  Employee_Satisfaction_Score  100000 non-null  float64
dtypes: float64(1), int64(9), object(4)
memory usage: 10.7+ MB

In [9]:
#feature encoding 
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()
le4=LabelEncoder()

In [10]:
df['Department']=le1.fit_transform(df['Department'])
df['Gender']=le2.fit_transform(df['Gender'])
df['Job_Title']=le3.fit_transform(df['Job_Title'])
df['Education_Level']=le4.fit_transform(df['Education_Level'])

In [11]:
df.head()

,Department,Gender,Age,Job_Title,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Promotions,Employee_Satisfaction_Score
0,4,1,55,5,1,5,6750,33,32,22,2,0,0,2.63
1,2,1,29,2,1,5,7500,34,34,13,14,100,2,1.72
2,2,1,55,5,1,3,5850,37,27,6,3,50,0,3.17
3,0,0,48,0,0,2,4800,52,10,28,12,100,1,1.86
4,1,0,36,0,0,2,4800,38,11,29,13,100,1,1.25

In [30]:
df['Department'].unique()

array([4, 2, 0, 1, 6, 3, 7, 8, 5])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Department                   100000 non-null  int64
 1   Gender                       100000 non-null  int64
 2   Age                          100000 non-null  int64
 3   Job_Title                    100000 non-null  int64
 4   Education_Level              100000 non-null  int64
 5   Performance_Score            100000 non-null  int64
 6   Monthly_Salary               100000 non-null  int64
 7   Work_Hours_Per_Week          100000 non-null  int64
 8   Projects_Handled             100000 non-null  int64
 9   Overtime_Hours               100000 non-null  int64
 10  Sick_Days                    100000 non-null  int64
 11  Remote_Work_Frequency        100000 non-null  int64
 12  Promotions                   100000 non-null  int64
 13  Employee_Satisfaction_Score  100000 non-null  float64
dtypes: float64(1), int64(13)
memory usage: 10.7 MB

In [13]:
df.drop(columns=['Job_title'],inplace=True)

KeyError: "['Job_title'] not found in axis"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Department                   100000 non-null  int64
 1   Gender                       100000 non-null  int64
 2   Age                          100000 non-null  int64
 3   Job_Title                    100000 non-null  int64
 4   Education_Level              100000 non-null  int64
 5   Performance_Score            100000 non-null  int64
 6   Monthly_Salary               100000 non-null  int64
 7   Work_Hours_Per_Week          100000 non-null  int64
 8   Projects_Handled             100000 non-null  int64
 9   Overtime_Hours               100000 non-null  int64
 10  Sick_Days                    100000 non-null  int64
 11  Remote_Work_Frequency        100000 non-null  int64
 12  Promotions                   100000 non-null  int64
 13  Employee_Satisfaction_Score  100000 non-null  float64
dtypes: float64(1), int64(13)
memory usage: 10.7 MB

In [16]:
x=df[['Department', 'Gender', 'Age', 'Job_Title', 'Education_Level',
     'Monthly_Salary', 'Work_Hours_Per_Week',
       'Projects_Handled', 'Overtime_Hours', 'Sick_Days',
       'Remote_Work_Frequency', 'Promotions', 'Employee_Satisfaction_Score']]

In [14]:
y=df['Performance_Score']

In [ ]:
x

,Department,Gender,Age,Job_Title,Education_Level,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Promotions,Employee_Satisfaction_Score
0,4,1,55,5,1,6750,33,32,22,2,0,0,2.63
1,2,1,29,2,1,7500,34,34,13,14,100,2,1.72
2,2,1,55,5,1,5850,37,27,6,3,50,0,3.17
3,0,0,48,0,0,4800,52,10,28,12,100,1,1.86
4,1,0,36,0,0,4800,38,11,29,13,100,1,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,1,27,6,0,4900,55,46,5,3,75,2,1.28
99996,4,0,36,1,2,8250,39,35,7,0,0,1,3.48
99997,7,1,53,0,1,4800,31,13,6,5,0,1,2.60
99998,3,0,22,1,1,8250,35,43,10,1,75,1,3.10
99999,2,0,43,0,3,4400,51,43,27,11,75,1,2.64

In [18]:
y

0        5
1        5
2        3
3        2
4        2
        ..
99995    4
99996    5
99997    2
99998    5
99999    1
Name: Performance_Score, Length: 100000, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)

In [20]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [21]:
import pickle 
pickle.dump(scaler,open('Standard.pkl','wb'))

In [22]:
from sklearn.linear_model import LinearRegression
liner=LinearRegression()
liner.fit(x_train,y_train)

LinearRegression()

In [23]:
y_ped=liner.predict(x_test)

In [24]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_ped))

0.2706741914719475

In [25]:
from sklearn.linear_model import LassoCV
lasso=LassoCV(cv=5)
lasso.fit(x_train,y_train)
y_p=lasso.predict(x_test)

In [26]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_p))

0.2707216746422412

In [27]:
from sklearn.ensemble import RandomForestRegressor
random=RandomForestRegressor()
random.fit(x_train,y_train)
y_ran=random.predict(x_test)

In [28]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_ran)
print("RÂ² Score (Accuracy):", r2)

RÂ² Score (Accuracy): 1.0

In [29]:
import pickle 
pickle.dump(random,open('random.pkl','wb'))